.apexcharts-tooltip {
  background: unset !important;
  color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

.apexcharts-yaxis-annotations > line {
  stroke-width: 4;
}
