.paper {
  @apply rounded bg-theme-surface0;
}

.blur {
  @apply opacity-10 blur-lg;
}

.focus {
  @apply opacity-100 blur-none;
}

.blurred {
  @apply opacity-0 blur-md transition-all duration-300;
}

.not-blurred {
  @apply transition-all duration-300;
}

.border-button-active {
  @apply border-y-2 border-theme-text font-bold;
}

.border-button {
  @apply border-y-2 border-transparent transition-all cursor-pointer hover:border-theme-text hover:font-bold;
}

.link {
  @apply hover:underline text-theme-primary;
}

.h1 {
  @apply text-5xl font-bold mb-16;
}

.h2 {
  @apply text-3xl font-bold mb-8;
}

.h3 {
  @apply text-2xl font-bold mb-8;
}

.h4 {
  @apply text-xl font-bold mb-4;
}

.ul > li {
  @apply list-disc ml-8;
}

.blink {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    text-decoration-color: rgba(var(--theme-primary));
  }

  50% {
    text-decoration-color: rgba(0, 0, 0, 0);
  }
}

.chart-container {
  min-height: 430px;
}
